<!doctype html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">

        {% if title %}
            <title>{{ title }} - Encoding</title>
        {% else %}
            <title>Encoding</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar">
            <div class="container mx-auto flex justify-between items-center">
                <a href="{{ url_for('Home') }}" class="text-white text-xl font-bold">My Flask App</a>
                <div class="flex space-x-4">
                    <a href="{{ url_for('Home') }}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                    <a href="{{ url_for('job_setup') }}" class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Job Setup</a>
                </div>
            </div>
        </nav>
        
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li<{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
       
        {% block content %}{% endblock %}
    </body>
</html>