{% extends "base.html" %}

{% block content %}
    <div class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6 mt-6">
    <h1 class="text-2xl font-semibold mb-4">Job Setup</h1>
    <form action="" method="post" id="job-setup-form" >
        {{ form.hidden_tag() }}

        <div class="mbq-4">
            <label for="label" class="block text-lg font-medium">Select Label Type:</label>
            {{ form.label(class="border border-gray-300 p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500") }}
            {% for error in form.label.errors %}
            <span class="text-red-500 text-sm">{{ error }}</span>
            {% endfor %}

        </div>
        <div class="mb-4">
            <label class="block text-lg font-medium">{{ form.serial.label }}</label>
            {{ form.serial(size=32, class="border border-gray-300 p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500") }}
            {% for error in form.serial.errors %}
            <span class="text-red-500 text-sm">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-4">
            <label class="block text-lg font-medium">{{ form.UPC.label }}</label>
            {{ form.UPC(size=32, class="border border-gray-300 p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500") }}
            {% for error in form.UPC.errors %}
            <span class="text-red-500 text-sm">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="mb-4">
            <label class="block text-lg font-medium">{{ form.quantity.label }}</label>
            {{ form.quantity(size=32, class="border border-gray-300 p-2 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500") }}
            {% for error in form.quantity.errors %}
            <span class="text-red-500 text-sm">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="flex items-center mb-4">
            <label class="mr-2">{{ form.two_percent.label }}</label>
            {{ form.two_percent() }}
            <label class="mr-2 ml-4">{{ form.seven_percent.label }}</label>
            {{ form.seven_percent() }}
        </div>
        <div class="flex justify-between">
            {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") }}
            <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="openRollTracker()">Go to Roll Tracker</button>
        </div>
    </form>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io({

            transports: ['websocket']
                });


        socket.on('connect', function() {
            console.log('Connected to server');
            requestCurrentSerial();
        });

        socket.on('update_serial', function(data) {
            document.getElementById('serial').value = data.new_serial;
            console.log('Serial number updated:', data.new_serial);
        });

        function requestCurrentSerial() {
            socket.emit('request_current_serial');
        }

        // Request current serial every 30 seconds to ensure consistency
        setInterval(requestCurrentSerial, 10000);

        // Form submission is handled by the server, but we can log it
        document.getElementById('job-setup-form').addEventListener('submit', function(e) {
            e.preventDefault();
            console.log('Form submitted');
            

            var formData = new FormData(this);

            fetch("{{ url_for('download') }}", {
                method: 'POST',
                body: formData,
        })
            .then(response => {
                if (response.ok) {
                    return response.blob().then(blob => ({ blob: blob, response: response }));;
                } else {
                    return response.json().then(data => {
                if (data.errors) {
                    // Display errors to the user
                    displayErrors(data.errors);
                } else {
                    alert('An unknown error occurred.');
                }
                throw new Error('Form submission failed');
            });
          }
        })
            .then(({ blob, response })  => {
                // Create a link to download the file
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                // Get the filename from the response headers
                var disposition = response.headers.get('Content-Disposition');
                var filename = 'download.xlsx'; // Default filename
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) { 
                        filename = matches[1].replace(/['"]/g, '');
                    }
                }
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error:', error);
        });
    });

        function displayErrors(errors) {
            // Clear any existing errors
            document.querySelectorAll('.error-message').forEach(el => el.remove());

            errors.forEach(error => {
                const errorElement = document.createElement('span');
                errorElement.classList.add('text-red-500', 'text-sm', 'error-message');
                errorElement.textContent = error;

                // Append the error message to the appropriate form field
                if (error.startsWith('UPC:')) {
                    document.querySelector('[name="UPC"]').parentElement.appendChild(errorElement);
                } else if (error.startsWith('Quantity:')) {
                    document.querySelector('[name="quantity"]').parentElement.appendChild(errorElement);
                } else {
                    // General errors can be appended elsewhere
                    document.getElementById('job-setup-form').prepend(errorElement);
                }
            });
        }

        function openRollTracker() {
            window.open("{{ url_for('roll_tracker') }}", "_self");
        }
    </script>

{% endblock %}