{% extends "base.html" %}

{% block content %}
    <h1>Job setup</h1>
    <form action="" method="post" novalidate id="job-setup-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.serial.label }}<br>
            {{ form.serial(size=32) }}
            {% for error in form.serial.errors %}<br>
            <span style ="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.UPC.label  }}<br>
            {{ form.UPC(size=32) }}
            {% for error in form.UPC.errors %}<br>
            <span style ="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p> 
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=32) }}
            {% for error in form.quantity.errors %}<br>
            <span style ="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.two_percent.label }}{{ form.two_percent() }} </p>
        <p>{{ form.seven_percent.label }}{{ form.seven_percent() }}</p>
        
        <p>{{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") }} <button type ="button" onclick="openRollTracker()">Go to Roll Tracker</button></p>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io({

            transports: ['websocket']
                });


        socket.on('connect', function() {
            console.log('Connected to server');
            requestCurrentSerial();
        });

        socket.on('update_serial', function(data) {
            document.getElementById('serial').value = data.new_serial;
            console.log('Serial number updated:', data.new_serial);
        });

        function requestCurrentSerial() {
            socket.emit('request_current_serial');
        }

        // Request current serial every 30 seconds to ensure consistency
        setInterval(requestCurrentSerial, 10000);

        // Form submission is handled by the server, but we can log it
        document.getElementById('job-setup-form').addEventListener('submit', function(e) {
            e.preventDefault();
            console.log('Form submitted');
            

            var formData = new FormData(this);

            fetch("{{ url_for('download') }}", {
                method: 'POST',
                body: formData,
        })
            .then(response => {
                if (response.ok) {
                    return response.blob().then(blob => ({ blob: blob, response: response }));;
                } else {
                    throw new Error('Network response was not ok.');
            }
        })
            .then(({ blob, response })  => {
                // Create a link to download the file
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                // Get the filename from the response headers
                var disposition = response.headers.get('Content-Disposition');
                var filename = 'download.xlsx'; // Default filename
                if (disposition && disposition.indexOf('attachment') !== -1) {
                    var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                    var matches = filenameRegex.exec(disposition);
                    if (matches != null && matches[1]) { 
                        filename = matches[1].replace(/['"]/g, '');
                    }
                }
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                a.remove();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error:', error);
        });
    });


        function openRollTracker() {
            window.open("{{ url_for('roll_tracker') }}", "_self");
        }
    </script>

{% endblock %}